<div ng-controller="globalCtrl">
	<input type="hidden" id="uniId" ng-model = "uniId">
	<input type="hidden" id="streamId" ng-model = "streamId">
	<input type="hidden" id="standardId" ng-model = "standardId">
	<input type="hidden" id="substreamId" ng-model = "substreamId">
	<div class="col-xs-12">
		<div class = "jumbotron bottomBreak">
			<div class="" style = 'text-align : center;'>
				<h3 class="snHeading"> Question Paper Library<sub style="font-weight:bold;color:rgb(231, 76, 60); font-size:18px !important;">BETA</sub></h3>
				<h2 class="snBody">Search, Study & Share</h2>
			</div>

		</div>
	</div>
	<div class = "col-xs-12 noPaddingLeftRight topBreak">
		<div class="col-xs-12 noPaddingLeftRight"  ng-controller="universityCtrl">
		<h2 class="categoryHeading">Universities/Boards</h2>
		<div ng-repeat="item in universities" ng-controller="universityCardCtrl">
			<div class="allCards col-xs-6 " ng-show = "universities.length>0" ng-hide="editMode" >
			<!-- <div class="allCards col-xs-6 " ng-show = "universities.length>0" ng-click= "setUniId(item.uid)" ng-hide="editMode" > -->
				<div class="well highlightedCard col-xs-12 " ng-class="{selected : item.uid == rootScope.idObject.uniId}" >
					<a class="col-xs-10 highlightedCardLink" ng-class="{selected : item.uid == rootScope.idObject.uniId}"  ng-click = "setUniId({university : item.uid})">
						<center>{{item.name}}</center>
					</a>
					<div class="col-xs-2" style="text-align: right;">
					<i class="material-icons" ng-click = 'toggleEditMode()'>mode_edit</i>
					<i class="material-icons" ng-click = 'getConfirmation()'>delete</i>
					</div>
				</div>
			</div>

			<div class = "allCards col-xs-6" ng-show = 'editMode'>
				<div class= " well  ambyvalley col-xs-12" tabindex="-1" >
					<h3>University update</h3>
					<form class = "">
		
						<div class="form-group input placeholder is-empty">
				            <label class="control-label" for="name">Name</label>
				            <input class="form-control" id="name" type="text" ng-model = 'item.name'>
				            <p class="help-block">Enter the name for the university.</p>
				          <span class="material-input"></span>
				        </div>
			
				        <div class="form-group input placeholder is-empty">
				            <label class="control-label" for="location">Location</label>
				            <input class="form-control" id="location" type="text" ng-model = 'item.location'>
				            <p class="help-block">Enter the location of the university.</p>
				          <span class="material-input"></span>
				        </div>
			
						<button class="btn btn-primary" ng-click="updateUniversity()" role= 'submit'>Save</button>
						<button class="btn btn-danger" ng-click="toggleEditMode();">Cancel</button>
					
					</form>
			
				</div>
			</div>
		
		</div>

		<div ng-controller="universityCtrl">
			<div class="allCards col-xs-6" ng-hide="editMode">
				<a class="well highlightedCard col-xs-12" ng-click = "toggleEditMode()">
					<div class="col-xs-12 noPaddingLeftRight" >
						<center>+</center>
					</div>
					<div class="col-xs-12 noPaddingLeftRight">
						<center>Add new</center>
					</div>
				</a>
			</div>
			<div class = "allCards col-xs-6" ng-show = 'editMode'>
				<div class= " well  ambyvalley col-xs-12" tabindex="-1" >
					<h3>Create new university</h3>
					<form class = "">
			
						<div class="form-group label-floating is-empty">
				            <label class="control-label" for="name">Name</label>
				            <input class="form-control" id="name" type="text" ng-model = 'university.name'>
				            <p class="help-block">Enter the name for the university.</p>
				          <span class="material-input"></span>
				        </div>

				        <div class="form-group label-floating is-empty">
				            <label class="control-label" for="name">Location</label>
				            <input class="form-control" id="name" type="text" ng-model = 'university.location'>
				            <p class="help-block">Enter the location for the university.</p>
				          <span class="material-input"></span>
				        </div>
			
						<button class="btn btn-primary" ng-click="createUniversity()" role= 'submit'>Create</button>
						<button class="btn btn-danger" ng-click="toggleEditMode();">Cancel</button>
					
					</form>
			
				</div>
			</div>
			</div>
		</div>

		<div class="col-xs-12 noPaddingLeftRight" ng-show = "idObject.uniId" ng-controller="streamCtrl">
		<h2 class="categoryHeading" id = "streamsHeader">Streams</h2>
		<div ng-repeat="item in streams" ng-controller="streamCardCtrl">
			<div class="allCards col-xs-6" ng-show = "streams.length>0"  ng-hide="editMode">
				<div class="well highlightedCard col-xs-12" ng-class="{selected : item.sid == rootScope.idObject.streamId}">
					<a class="col-xs-10 highlightedCardLink noPaddingLeftRight" ng-click = "setStreamId({stream : item.sid})" ng-class="{selected : item.sid == rootScope.idObject.streamId}">
						<center>{{item.sname}}</center>
					</a>
					<div class="col-xs-2" style="text-align: right;">
					<i class="material-icons" ng-click = 'toggleEditMode()'>mode_edit</i>
					<i class="material-icons" ng-click = 'deleteStream()'>delete</i>
					</div>
				</div>
			</div>
			<div class = "allCards col-xs-6" ng-show = 'editMode'>
				<div class= " well  ambyvalley col-xs-12" tabindex="-1" >
					<h3>Stream update</h3>
					<form class = "">
			
						<div class="form-group input placeholder is-empty">
				            <label class="control-label" for="name">Name</label>
				            <input class="form-control" id="name" type="text" ng-model = 'item.sname'>
				            <p class="help-block">Update the name for the stream.</p>
				          <span class="material-input"></span>
				        </div>
			
						<button class="btn btn-primary" ng-click="updateStream()" role= 'submit'>Save</button>
						<button class="btn btn-danger" ng-click="toggleEditMode();">Cancel</button>
					
					</form>
			
				</div>
			</div>
			</div>
			<div ng-controller="streamCtrl">
			<div class="allCards col-xs-6" ng-hide="editMode">
				<a class="well highlightedCard col-xs-12" ng-click = "toggleEditMode()">
					<div class="col-xs-12 noPaddingLeftRight" >
						<center>+</center>
					</div>
					<div class="col-xs-12 noPaddingLeftRight">
						<center>Add new</center>
					</div>
				</a>
			</div>
			<div class = "allCards col-xs-6" ng-show = 'editMode'>
				<div class= " well  ambyvalley col-xs-12" tabindex="-1" >
					<h3>Create new stream</h3>
					<form class = "">
			
						<div class="form-group input placeholder is-empty">
				            <label class="control-label" for="name">Name</label>
				            <input class="form-control" id="name" type="text" ng-model = 'stream.sname'>
				            <p class="help-block">Enter the name for the stream.</p>
				          <span class="material-input"></span>
				        </div>

				        <!-- <div class="form-group label-floating is-empty">
				            <label class="control-label" for="name">University</label>
				            <input class="form-control" id="name" type="text" ng-model = 'item.uid'>
				            <p class="help-block">Select the name for the stream.</p>
				          <span class="material-input"></span>
				        </div> -->
			
						<button class="btn btn-primary" ng-click="createStream()" role= 'submit'>Create</button>
						<button class="btn btn-danger" ng-click="toggleEditMode();">Cancel</button>
					
					</form>
			
				</div>
			</div>
			</div>
		</div>
	</div>

	<div class = "col-xs-12 noPaddingLeftRight">
		<div class="col-xs-12 noPaddingLeftRight" ng-show = "idObject.streamId" id = 'mad' ng-controller="standardCtrl">
		<h2 class="categoryHeading" id = "standardsHeader">Standards</h2>
		<div ng-repeat="item in standards" ng-controller="standardCardCtrl">
			<div class=" allCards col-xs-6" ng-show = "standards.length>0"  ng-hide="editMode">
				<div class="well highlightedCard col-xs-12" ng-class="{selected : item.stdid == rootScope.idObject.standardId}">
					<a class="col-xs-10 highlightedCardLink noPaddingLeftRight" ng-click = "setStandardId({standard : item.stdid})" ng-class="{selected : item.stdid == rootScope.idObject.standardId}">
						<center>{{item.std_name}}</center>
					</a>
					<div class="col-xs-2" style="text-align: right;">
					<i class="material-icons" ng-click = 'toggleEditMode()'>mode_edit</i>
					<i class="material-icons" ng-click = 'deleteStandard()'>delete</i>
					</div>
				</div>
			</div>
			<div class = "allCards col-xs-6" ng-show = 'editMode'>
				<div class= " well  ambyvalley col-xs-12" tabindex="-1" >
					<h3>Standard update</h3>
					<form class = "">
			
						<div class="form-group input placeholder is-empty">
				            <label class="control-label" for="name">Name</label>
				            <input class="form-control" id="name" type="text" ng-model = 'item.std_name'>
				            <p class="help-block">Update the name for the standard.</p>
				          <span class="material-input"></span>
				        </div>
		
						<button class="btn btn-primary" ng-click="updateStandard()" role= 'submit'>Save</button>
						<button class="btn btn-danger" ng-click="toggleEditMode();">Cancel</button>
					
					</form>
			
				</div>
			</div>
		</div>
		<div ng-controller="standardCtrl">
			<div class="allCards col-xs-6" ng-hide="editMode">
				<a class="well highlightedCard col-xs-12" ng-click = "toggleEditMode()">
					<div class="col-xs-12 noPaddingLeftRight" >
						<center>+</center>
					</div>
					<div class="col-xs-12 noPaddingLeftRight">
						<center>Add new</center>
					</div>
				</a>
			</div>
			<div class = "allCards col-xs-6" ng-show = 'editMode'>
				<div class= " well  ambyvalley col-xs-12" tabindex="-1" >
					<h3>Create new standard</h3>
					<form class = "">
			
						<div class="form-group label-floating is-empty">
				            <label class="control-label" for="name">Name</label>
				            <input class="form-control" id="name" type="text" ng-model = 'standard.sname'>
				            <p class="help-block">Enter the name for the stream.</p>
				          <span class="material-input"></span>
				        </div>

				       <!--  <div class="form-group label-floating is-empty">
				            <label class="control-label" for="name">Stream</label>
				            <input class="form-control" id="name" type="text" ng-model = 'item.uid'>
				            <p class="help-block">Select the stream for the standard.</p>
				          <span class="material-input"></span>
				        </div> -->
			
						<button class="btn btn-primary" ng-click="createStandard()" role= 'submit'>Create</button>
						<button class="btn btn-danger" ng-click="toggleEditMode();">Cancel</button>
					
					</form>
			
				</div>
			</div>
			</div>
		</div>
		
		<div class="col-xs-12 noPaddingLeftRight" ng-show = "idObject.standardId" ng-controller="substreamCtrl">
		<h2 class="categoryHeading" id = "substreamsHeader">Sub-streams</h2>
			<div ng-repeat="item in substreams" ng-controller="substreamCardCtrl">
			<div class="allCards col-xs-6" ng-show = "substreams.length>0" ng-hide="editMode">
				<div class="well highlightedCard col-xs-12" ng-class="{selected : item.ssid == rootScope.idObject.substreamId}">
					<a class="col-xs-10 highlightedCardLink" ng-click = "setSubstreamId({substream : item.ssid})" ng-class="{selected : item.ssid == rootScope.idObject.substreamId}">
						<center>{{item.ss_name}}</center>
					</a>
					<div class="col-xs-2" style="text-align: right;">
					<i class="material-icons" ng-click = 'toggleEditMode()'>mode_edit</i>
					<i class="material-icons" ng-click = 'deleteSubstream()'>delete</i>
					</div>
				</div>
			</div>
			<div class = "allCards col-xs-6" ng-show = 'editMode'>
				<div class= " well  ambyvalley col-xs-12" tabindex="-1" >
					<h3>Substream update</h3>
					<form class = "">
			
						<!-- <div class="form-group label-floating is-empty"> -->
						<div class="form-group input placeholder is-empty">
				            <label class="control-label" for="name">Name</label>
				            <input class="form-control" id="name" type="text" ng-model = 'item.ss_name'>
				            <p class="help-block">Update the name for the substream.</p>
				          <span class="material-input"></span>
				        </div>
			
						<button class="btn btn-primary" ng-click="updateSubstream()" role= 'submit'>Save</button>
						<button class="btn btn-danger" ng-click="toggleEditMode();">Cancel</button>
					
					</form>
			
				</div>
			</div>
		
			</div>
			<div ng-controller="substreamCtrl">
			<div class="allCards col-xs-6" ng-hide="editMode">
				<a class="well highlightedCard col-xs-12" ng-click = "toggleEditMode()">
					<div class="col-xs-12 noPaddingLeftRight" >
						<center>+</center>
					</div>
					<div class="col-xs-12 noPaddingLeftRight">
						<center>Add new</center>
					</div>
				</a>
			</div>
			<div class = "allCards col-xs-6" ng-show = 'editMode'>
				<div class= " well  ambyvalley col-xs-12" tabindex="-1" >
					<h3>Create new substream</h3>
					<form class = "">
			
						<div class="form-group label-floating is-empty">
				            <label class="control-label" for="name">Name</label>
				            <input class="form-control" id="name" type="text" ng-model = 'substream.ssname'>
				            <p class="help-block">Enter the name for the stream.</p>
				          <span class="material-input"></span>
				        </div>

				       <!--  <div class="form-group label-floating is-empty">
				            <label class="control-label" for="name">Stream</label>
				            <input class="form-control" id="name" type="text" ng-model = 'item.uid'>
				            <p class="help-block">Select the stream for the standard.</p>
				          <span class="material-input"></span>
				        </div> -->
			
						<button class="btn btn-primary" ng-click="createSubstream()" role= 'submit'>Create</button>
						<button class="btn btn-danger" ng-click="toggleEditMode();">Cancel</button>
					
					</form>
			
				</div>
			</div>
			</div>
		</div>

	</div>
	<div class="col-xs-12 noPaddingLeftRight">
		<div class="col-xs-12 noPaddingLeftRight" ng-show = "idObject.substreamId" >
			<h2 class="categoryHeading" id = "subjectsHeader">Subjects</h2>
			<div class="col-xs-12 noPaddingLeftRight" ng-controller="paperCtrl">
				<div ng-repeat="item in subjects">
					<div class="allCards col-xs-6" ng-show = "subjects.length>0" ng-hide="editMode">
					<div class="well highlightedCard col-xs-12" ng-class="">
					<!-- <div class="well highlightedCard col-xs-12" ng-class="{selected : item.ssid == rootScope.idObject.substreamId}"> -->
						<a class="col-xs-10 highlightedCardLink" ng-click = "setSubject({subject : item.subject})">
							<center>{{item.subject}}</center>
						</a>
						<div class="col-xs-2" style="text-align: right;">
						<!-- <i class="material-icons" ng-click = ''>mode_edit</i>
						<i class="material-icons" ng-click = ''>delete</i> -->
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 noPaddingLeftRight" ng-show="idObject.subject">
			<h2 class="categoryHeading" id = "subjectsHeader">Years</h2>
			<div class="col-xs-12 noPaddingLeftRight" ng-controller="paperCtrl">
				<div ng-repeat="item in years">
					<div class="allCards col-xs-6" ng-show = "years.length>0" ng-hide="editMode">
					<div class="well highlightedCard col-xs-12" ng-class="">
					<!-- <div class="well highlightedCard col-xs-12" ng-class="{selected : item.ssid == rootScope.idObject.substreamId}"> -->
						<a class="col-xs-10 highlightedCardLink" ng-click = "setQuestionPaperId({paperId : item.pid})">
							<center>{{item.year}}</center>
						</a>
						<div class="col-xs-2" style="text-align: right;">
						<!-- <i class="material-icons" ng-click = ''>mode_edit</i>
						<i class="material-icons" ng-click = ''>delete</i> -->
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="noPaddingLeftRight col-xs-12 topBreak">
		<div class = 'col-xs-12 noPaddingLeftRight' ng-show = "idObject.paperId">
			<h2 class="categoryHeading" id = "subjectsHeader">Questions</h2>

			<div class="panel panel-success" ng-show = "questions.length>0">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Questions for <i>{{paperInfo[0].subject}}</i> in <i>{{paperInfo[0].year}}</i></h3>
			  	</div>
			  	<div class="panel-body">
				  	<div class="col-xs-12 noPaddingLeftRight">
					    <div class="col-xs-4 noPaddingLeft"><label>Year:</label> {{paperInfo[0].year}}</div>
						<div class="col-xs-2 noPaddingLeft"><label>Type :</label> {{paperInfo[0].type}}</div>
						<div class="col-xs-2 noPaddingLeft"><label>Marks :</label> {{paperInfo[0].marks}}</div>
						<div class="col-xs-2 noPaddingLeft"><label>Group :</label> {{paperInfo[0].group}}</div>
						<div class="col-xs-2 noPaddingLeft"><label>Code :</label> {{paperInfo[0].code}}</div>
						<!-- <div class="col-xs-6 noPaddingLeft">Tags : {{paperInfo[0].tags}}</div> -->
				  	</div>
				</div>	  
			</div>

			<div class="col-xs-12 noPaddingLeftRight" ng-controller="paperCtrl">
				<div ng-repeat="item in questions">
					<div class="allCards" ng-show = "questions.length>0" ng-hide="editMode">
						<div class="panel panel-primary">
						  	<div class="panel-heading">
						    	<h3 class="panel-title">{{item.question}}</h3>
						  	</div>
						  	<div class="panel-body">
							  	<div class="col-xs-12 noPaddingLeftRight">
								    <div class="col-xs-2 noPaddingLeft"><label>Asked :</label> {{item.ask_count}}</div>
									<div class="col-xs-2 noPaddingLeft"><label>Marks :</label> {{item.marks}}</div>
									<div class="col-xs-2 noPaddingLeft"><label>Related :</label> {{item.rel_count}}</div>
									<!-- <div class="col-xs-6 noPaddingLeft">Tags : {{item.tags}}</div> -->
							  	</div>
							</div>	  
						</div>
					<!-- <div class="well highlightedCard col-xs-12" ng-class="">
					<div class="well highlightedCard col-xs-12" ng-class="{selected : item.ssid == rootScope.idObject.substreamId}">
						<a class="col-xs-10 highlightedCardLink" ng-click = "">
							<div>{{item.question}}</div>
							
						</a>
						<div class="col-xs-2" style="text-align: right;">
						<i class="material-icons" ng-click = ''>mode_edit</i>
						<i class="material-icons" ng-click = ''>delete</i> 
						</div>
					</div> -->
				</div>
				</div>
			</div>
		</div>
	</div>

</div>