<div ng-controller="globalCtrl">
	<input type="hidden" id="uniId" ng-model = "uniId">
	<input type="hidden" id="streamId" ng-model = "streamId">
	<input type="hidden" id="standardId" ng-model = "standardId">
	<input type="hidden" id="substreamId" ng-model = "substreamId">
	<div class="col-xs-12">
		<div class = "jumbotron ">
			<!-- <div class="panel-heading">Question Paper LibraryBETA</div> -->
			<div class="" style = 'text-align : center;'>
				<h3 class="snHeading"> Question Paper Library<sub style="font-weight:bold;color:rgb(231, 76, 60); font-size:18px !important;">BETA</sub></h3>
				<h2 class="snBody">Search, Study & Share</h2>
			</div>

		</div>

		<div class = "col-xs-12 noPaddingLeftRight">
			<div class="col-xs-12 noPaddingLeftRight"  ng-controller="universityCtrl">
				<h2 style = 'margin-top: 0 !important;'>Universities</h2>
				<div ng-repeat="item in universities" ng-controller="universityCardCtrl">
					<div class="allCards col-xs-6" ng-show = "universities.length>0" ng-hide="editMode" >
						<div class="well highlightedCard col-xs-12">
							<div class="col-xs-10">
								{{$index+1}}. {{item.name}} : {{item.location}}
							</div>
							<div class="col-xs-2" style="text-align: right;">
							<i class="material-icons" ng-click = 'toggleEditMode()'>mode_edit</i>
							<i class="material-icons" ng-click = 'deleteUniversity()'>delete</i>
							</div>
							<br class="divider"/>
						</div>
					</div>

					<div class = "allCards col-xs-6" ng-show = 'editMode'>
						<div class= " well  ambyvalley col-xs-12" tabindex="-1" >
							<h3>University update</h3>
							<form class = "">
					
								<div class="form-group label-floating is-empty">
						            <label class="control-label" for="name">Name</label>
						            <input class="form-control" id="name" type="text" ng-model = 'item.name'>
						            <p class="help-block">Enter the name for the university.</p>
						          <span class="material-input"></span>
						        </div>
					
						        <div class="form-group label-floating is-empty">
						            <label class="control-label" for="location">Location</label>
						            <input class="form-control" id="location" type="text" ng-model = 'item.location'>
						            <p class="help-block">Enter the location of the university.</p>
						          <span class="material-input"></span>
						        </div>
					
								<button class="btn btn-primary" ng-click="updateUniversity()" role= 'submit'>Save</button>
								<button class="btn btn-danger" ng-click="toggleEditMode();">Cancel</button>
							
							</form>
					
						</div>
					</div>
				
				</div>
			</div>

			<div class="col-xs-12 noPaddingLeftRight" id = "streamView" ng-controller="streamCtrl">
			<h2 style = 'margin-top: 0 !important;'>Streams</h2>
			<div ng-repeat="item in streams" ng-controller="cardCtrl">
				<div class=" allCards col-xs-6" ng-show = "streams.length>0" ng-hide="editMode">
					<div class="well highlightedCard col-xs-12">
						<div class="col-xs-10">
							{{$index+1}}. {{item.uname}} : {{item.sname}}
						</div>
						<div class="col-xs-2" style="text-align: right;">
						<i class="material-icons" ng-click = 'toggleEditMode()'>mode_edit</i>
						<i class="material-icons" ng-click = 'deleteStream()'>delete</i>
						</div>
						<br class="divider"/>
					</div>
				</div>

				<div class = "allCards highlightedCard col-xs-6" ng-show = 'editMode'>
					<div class= "well  ambyvalley col-xs-12" tabindex="-1" >
						<h3>Stream update</h3>
						<form class = "">
				
							<div class="form-group label-floating is-empty">
					            <label class="control-label" for="name">Name</label>
					            <input class="form-control" id="name" type="text" ng-model = 'item.name'>
					            <p class="help-block">Enter the name for the stream.</p>
					          <span class="material-input"></span>
					        </div>
				
					        <div class="form-group label-floating is-empty">
					            <label class="control-label" for="location">Location</label>
					            <input class="form-control" id="location" type="text" ng-model = 'item.location'>
					            <p class="help-block">Enter the location of the stream.</p>
					          <span class="material-input"></span>
					        </div>
				
							<button class="btn btn-primary" ng-click="updateStream()" role= 'submit'>Save</button>
							<button class="btn btn-danger" ng-click="toggleEditMode();">Cancel</button>
						
						</form>
				
					</div>
				</div>
			
				</div>
			</div>
		</div>

		<div class = "col-xs-12 noPaddingLeftRight">
		<div class="col-xs-12 noPaddingLeftRight" ng-controller="standardCtrl">
			<h2 style = 'margin-top: 0 !important;'>Standards</h2>
			<div ng-repeat="item in standards" ng-controller="cardCtrl">
				<div class="allCards col-xs-6" ng-show = "standards.length>0" ng-hide="editMode">
					<div class="col-xs-12 well highlightedCard ambyvalley">
						<div class="col-xs-10">
							{{$index+1}}. {{item.std_name}} : {{item.sname}}
						</div>
						<div class="col-xs-2" style="text-align: right;">
						<i class="material-icons" ng-click = 'toggleEditMode()'>mode_edit</i>
						<i class="material-icons" ng-click = 'deleteStandard()'>delete</i>
						</div>
						<br class="divider"/>
					</div>
				</div>

				<div class = " allCards col-xs-6" ng-show = 'editMode'>
					<div class= "well ambyvalley" tabindex="-1" >
						<h3>Standard update</h3>
						<form class = "">
				
							<div class="form-group label-floating is-empty">
					            <label class="control-label" for="name">Name</label>
					            <input class="form-control" id="name" type="text" ng-model = 'item.name'>
					            <p class="help-block">Enter the name for the standard.</p>
					          <span class="material-input"></span>
					        </div>
				
					        <div class="form-group label-floating is-empty">
					            <label class="control-label" for="location">Location</label>
					            <input class="form-control" id="location" type="text" ng-model = 'item.location'>
					            <p class="help-block">Enter the location of the standard.</p>
					          <span class="material-input"></span>
					        </div>
				
							<button class="btn btn-primary" ng-click="updateStandard()" role= 'submit'>Save</button>
							<button class="btn btn-danger" ng-click="toggleEditMode();">Cancel</button>
						
						</form>
				
					</div>
				</div>
			
			</div>
		</div>

		<div class="col-xs-12 noPaddingLeftRight" ng-controller="substreamCtrl">
			<h2 style = 'margin-top: 0 !important;'>Sub-streams</h2>
			<div ng-repeat="item in substreams" ng-controller="cardCtrl">
				<div class="allCards col-xs-6" ng-show = "substreams.length>0" ng-hide="editMode">
					<div class="well highlightedCard col-xs-12">
						<div class="col-xs-10">
							{{$index+1}}. {{item.std_name}} : {{item.ss_name}}
						</div>
						<div class="col-xs-2" style="text-align: right;">
						<i class="material-icons" ng-click = 'toggleEditMode()'>mode_edit</i>
						<i class="material-icons" ng-click = 'deleteSubstream()'>delete</i>
						</div>
						<br class="divider"/>
					</div>
				</div>

				<div class = "allCards col-xs-6" ng-show = 'editMode'>
					<div class= "well ambyvalley" tabindex="-1" >
						<h3>Sub-stream update</h3>
						<form class = "">
				
							<div class="form-group label-floating is-empty">
					            <label class="control-label" for="name">Name</label>
					            <input class="form-control" id="name" type="text" ng-model = 'item.name'>
					            <p class="help-block">Enter the name for the sub-stream.</p>
					          <span class="material-input"></span>
					        </div>
				
					        <div class="form-group label-floating is-empty">
					            <label class="control-label" for="location">Location</label>
					            <input class="form-control" id="location" type="text" ng-model = 'item.stdid'>
					            <p class="help-block">Enter the location of the sub-stream.</p>
					          <span class="material-input"></span>
					        </div>
				
							<button class="btn btn-primary" ng-click="updateSubstream()" role= 'submit'>Save</button>
							<button class="btn btn-danger" ng-click="toggleEditMode();">Cancel</button>
						
						</form>
				
					</div>
				</div>
			
				</div>
			</div>
		</div>

		<div class = "well col-xs-12">
			<div class= "ambyvalley" tabindex="-1" >
				<h3>University creation form</h3>
				<form class = "">

					<div class="form-group label-floating is-empty">
			            <label class="control-label" for="name">Name</label>
			            <input class="form-control" id="name" type="text" ng-model = 'university.name'>
			            <p class="help-block">Enter the name for the university.</p>
			          <span class="material-input"></span>
			        </div>

			        <div class="form-group label-floating is-empty">
			            <label class="control-label" for="location">Location</label>
			            <input class="form-control" id="location" type="text" ng-model = 'university.location'>
			            <p class="help-block">Enter the location of the university.</p>
			          <span class="material-input"></span>
			        </div>

					<button class="btn btn-primary" ng-click="createUniversity()" role= 'submit'>Submit</button>
					<button class="btn btn-danger" role= 'reset'>Reset</button>
				
				</form>

			</div>
		</div>

		<div class = "well col-xs-12">
			<div class= "ambyvalley" tabindex="-1" >
				<h3>Stream creation form</h3>
				<form class = "">

					<div class="form-group label-floating is-empty">
			            <label class="control-label" for="name">Name</label>
			            <input class="form-control" id="name" type="text" ng-model = 'stream.name'>
			            <p class="help-block">Enter the name for the stream.</p>
			          <span class="material-input"></span>
			        </div>

			        <div class="form-group label-floating is-empty">
			            <label class="control-label" for="location">Location</label>
			            <input class="form-control" id="location" type="text" ng-model = 'stream.location'>
			            <p class="help-block">Enter the location of the stream.</p>
			          <span class="material-input"></span>
			        </div>

					<!-- <button class="btn btn-primary" ng-click="createStream()" role= 'submit'>Submit</button> -->
					<button class="btn btn-primary"  role= 'submit'>Submit</button>
					<button class="btn btn-danger" role= 'reset'>Reset</button>
				
				</form>

			</div>
		</div>

		<div class = "well col-xs-12">
			<div class= "ambyvalley" tabindex="-1" >
				<h3>Standard creation form</h3>
				<form class = "">

					<div class="form-group label-floating is-empty">
			            <label class="control-label" for="name">Name</label>
			            <input class="form-control" id="name" type="text" ng-model = 'standard.name'>
			            <p class="help-block">Enter the name for the standard.</p>
			          <span class="material-input"></span>
			        </div>

			        <div class="form-group label-floating is-empty">
			            <label class="control-label" for="location">Location</label>
			            <input class="form-control" id="location" type="text" ng-model = 'standard.location'>
			            <p class="help-block">Enter the location of the standard.</p>
			          <span class="material-input"></span>
			        </div>

					<!-- <button class="btn btn-primary" ng-click="createStandard()" role= 'submit'>Submit</button> -->
					<button class="btn btn-primary"  role= 'submit'>Submit</button>
					<button class="btn btn-danger" role= 'reset'>Reset</button>
				
				</form>

			</div>
		</div>

		<div class = "well col-xs-12">
			<div class= "ambyvalley" tabindex="-1" >
				<h3>Sub-stream creation form</h3>
				<form class = "">

					<div class="form-group label-floating is-empty">
			            <label class="control-label" for="name">Name</label>
			            <input class="form-control" id="name" type="text" ng-model = 'subStream.name'>
			            <p class="help-block">Enter the name for the sub-stream.</p>
			          <span class="material-input"></span>
			        </div>

			        <div class="form-group label-floating is-empty">
			            <label class="control-label" for="location">Location</label>
			            <input class="form-control" id="location" type="text" ng-model = 'subStream.location'>
			            <p class="help-block">Enter the location of the sub-stream.</p>
			          <span class="material-input"></span>
			        </div>

					<!-- <button class="btn btn-primary" ng-click="createSubstream()" role= 'submit'>Submit</button> -->
					<button class="btn btn-primary"  role= 'submit'>Submit</button>
					<button class="btn btn-danger" role= 'reset'>Reset</button>
				
				</form>

			</div>
		</div>

	</div>
</div>