.main-container{
	padding: 24px 0px;
}

.btn-group-sm .hot-add-trans-button{
	position: absolute;
	right:80px;
	bottom: 64px;
}

.no-padding{
	padding:0px !important;
}


.noPaddingTop{
	padding-top: 0px !important;
}

.noPaddingAll{
	padding: 0px !important;
}

.noPaddingRight{
	padding-right: 0px !important;
}

.noPaddingLeftRight{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

div.modal-body.signinModalBody{
	padding-bottom: 24px;
}

.topBreak{
	margin-top: 10px;
}

.bottomBreak{
	margin-bottom: 10px;
}

.greenBg{
	background-color : #009688 !important;
}

.alertHolder{
	position: absolute;
	bottom: 0px;
	right:0px;
}

.highlightedCard:hover,
.highlightedCard:hover .highlightedCardLink{
	background-color : #009688 !important;
    color: #D7EEEC !important;
    /* color: red !important; */
	font-weight : 600 !important;
	cursor : pointer;
}

/* .highlightedCard * :hover{
	background-color : #009688 !important;
    color: #D7EEEC !important;
	font-weight : 600;
	cursor : pointer;
} */

.selected{
	background-color : #009688 !important;
    color: #D7EEEC !important;
	font-weight : 600;
	cursor : pointer;
}

.ambyvalley{
	font-size : 22px;
	font-weight : 500;
}
.snHeading{
	font-size: 90px;
	font-family: 'Merriweather', serif;	/* font-weight : bold; */
    /* font-family: smokar-7 !important; */
    color: #37A663 !important;
}

.well{
	min-height : 110px;
	font-weight : 500;
	font-size : 18px;
	padding-top: 30px !important;
}

.well *:hover {
	text-decoration : none !important;
}

h2.categoryHeading{
	margin-top: 0 !important;
	text-align: center;
}

.snBody{
	font-size: 28px;
    color: #81919b;
    font-weight: 700 !important;
    letter-spacing: 2px;
}

.snFooter{
	/* border: 0.5px solid black; */
    background-color: rgba(0,0,0,0.3);
    height: 72px;
    padding: 7px;
    padding-top: 25px;
    color: #517D3E !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-align: center;
    margin-bottom: 0px;
}

.footerText:hover{
	text-decoration : none !important;
}

.allCards{
	padding-left: 5px;
	padding-right: 5px;
}
