<div ng-controller="universityCtrl">
	<div ng-repeat="item in universities">
		<div class="well ambyvalley" ng-show = "universities.length>0">
			<div class = 'col-xs-12'>
				<div class="col-xs-11">
					{{item.name}} : {{item.location}}
				</div>
				<div class="col-xs-1" ng-click = 'removeUniversity($index)'>x</div>
			</div>
		</div>
	</div>
	<div class = "well">
		<div class= "ambyvalley" tabindex="-1" >
			
			<form class = "">

				<div class="form-group label-floating is-empty">
		            <label class="control-label" for="name">Name</label>
		            <input class="form-control" id="name" type="text" ng-model = 'university.name'>
		            <p class="help-block">Enter the name for the university.</p>
		          <span class="material-input"></span>
		        </div>

		        <div class="form-group label-floating is-empty">
		            <label class="control-label" for="headOffice">Head Office</label>
		            <input class="form-control" id="headOffice" type="text" ng-model = 'university.headOffice'>
		            <p class="help-block">Enter the location of Head Office for the university.</p>
		          <span class="material-input"></span>
		        </div>

		        <div class="form-group label-floating is-empty">
		            <label class="control-label" for="location">Location</label>
		            <input class="form-control" id="location" type="text" ng-model = 'university.location'>
		            <p class="help-block">Enter the location of the university.</p>
		          <span class="material-input"></span>
		        </div>

				<button class="btn btn-primary" ng-click="createUniversity()" role= 'submit'>Submit</button>
				<button class="btn btn-danger" role= 'reset'>Reset</button>
			
			</form>

		</div>
	</div>
</div>